<div class="card">
  <div class="header">
    <h1 class="title">Airports</h1>
  </div>
  <div class="content">
    <div class="row" *ngIf="airportsIsLoading">
      <div class="col-lg-12">
        ...isLoading...
      </div>
    </div>
    <div class="row" *ngIf="airportsErrorMessage">
      <div class="col-lg-12 text-danger">
        {{ airportsErrorMessage }}
      </div>
    </div>
    <div class="row" *ngIf="!airportsIsLoading && !airportsErrorMessage">
      <div class="col-lg-3" *ngFor="let airport of airports">
        {{ airport }}
      </div>
      <div class="col-lg-12" *ngIf="airports?.length === 0">
        {{ 'No airports found' }}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="header">
    <h1 class="title">Airports Take Until</h1>
  </div>
  <div class="content">
    <div class="row" *ngIf="airportsTakeUntilIsLoading">
      <div class="col-lg-12">
        ...isLoadingTakeUntil...
      </div>
    </div>
    <div class="row" *ngIf="airportsTakeUntilErrorMessage">
      <div class="col-lg-12 text-danger">
        {{ airportsTakeUntilErrorMessage }}
      </div>
    </div>
    <div class="row" *ngIf="!airportsTakeUntilIsLoading && !airportsTakeUntilErrorMessage">
      <div class="col-lg-3" *ngFor="let airport of airportsTakeUntil">
        {{ airport }}
      </div>
      <div class="col-lg-12" *ngIf="airportsTakeUntil?.length === 0">
        {{ 'No airports found' }}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="header">
    <h1 class="title">Airports Async Pipe</h1>
  </div>
  <div class="content" *ngIf="(asyncAirports$ | async) as asyncAirports else isLoadingAsyncAirports">
    <div *ngIf="asyncAirports.length > 0 else noAirportsFound" class="row">
      <!-- 3. Using the async pipe -->
      <div class="col-lg-3" *ngFor="let airport of asyncAirports">
        {{ airport }}
      </div>
    </div>
  </div>
</div>



<ng-template #isLoadingAsyncAirports>
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        ...isLoadingAsyncPipe...
      </div>
    </div>
  </div>
</ng-template>


<ng-template #noAirportsFound>
  <div class="row">
    <div class="col-lg-12" [class.text-danger]="!!asyncAirportsErrorMessage">
      {{ asyncAirportsErrorMessage ? asyncAirportsErrorMessage : 'No airports found' }}
    </div>
  </div>
</ng-template>
